body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: grey;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    margin: auto;
}

.myButton {
	border-radius:28px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
    padding:16px 31px;
    margin: 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
}

.myButton:hover {
	background-color: grey;
}

.myButton:active {
	position:relative;
	top:1px;
}
.cats-button {
    background-color: skyblue;
}

.dogs-button {
    background-color: darkseagreen;
}

.fish-button {
    background-color: khaki;
}

.all-button {
    background-color: red;
}

.title {
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pet-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
}

.card {
    width: 300px;
    border: 1px solid lightgray;
    margin: 10px;
}

.name {
    background-color: lightgray;
    color: gray;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.description {
    text-align: center;
}

.pet-pic img {
    border: 1px solid lightgray;
    border-radius: 3%;
    margin: 10px 10px 0px 0px;
    padding: 6px;
    width: 250px;
}

.skill {
    padding: 10px;
}

.type {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.typeCat {
    background-color: skyblue;
    color: darkblue;
}

.typeDog {
    background-color: darkseagreen;
    color: darkgreen;
}

.typeFish {
    background-color: khaki;
    color: darkred;
}